

header {
    font-family: 'Permanent Marker';
    box-shadow: inset 0px 0px 20px 1px purple;
    display: flex;
    justify-content: space-around;
    width: 110%;
    height: 100px;
    background-color: rgb(204, 173, 233);
    margin: -10px 0 0 -10px;
    p {
        text-shadow: 0px 0px 10px black;
        font-size: 50px;
        align-self: center;
        margin: 0 0 10px 0;
    }
    ul {
        position: relative;
        left: 26px;
        align-self: center;
        display: flex;
        list-style: none;
        li {
            font-size: 21px;
            margin-left: 30px;
        }
    }
}


.text-container {
    margin-top: 10px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
    .text-1 {
        font-size: 20px;
        margin: 80px 0 0 0;
        width: 320px;
        height: 500px;
        border-left: 3px solid blue;
        border-right: 3px solid blue;
        text-indent: 50px;
        padding: 0px 15px;
        overflow: hidden;
        .text-inset {
            overflow: auto;
        }
    }
    .text-2 {
        font-size: 20px;
        margin: 80px 0 0 0;
        width: 320px;
        height: 500px;
        border-left: 3px solid rgb(21, 204, 91);
        border-right: 3px solid rgb(21, 207, 45);
        text-indent: 50px;
        padding: 0px 15px;
        overflow: hidden;    
    }
}